/* Start Global Rules */
* {
	box-sizing: border-box;
}

*:focus {
	outline: none;
	margin: 0px;
	padding: 0px;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #f5f5f5;
	font-family: "Open sans", sans-serif;
	position: relative;
}

a {
	color: #000;
}

:root {
/*Colors*/
    --blue-color: #0075ff;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
/*Transition*/
	--transition-delay: 0.4s;
/*Padding*/
	--box-padding: 20px;
}
/*End Global Rules*/

/*Start Aside*/
aside {
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100vh;
	font-weight: 500;
}

aside .logo {
	position: relative;
}

aside .logo::after {
	content: "";
	height: 2px;
	background-color: black;
	position: absolute;
	width: 50%;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

aside .logo::before {
	content: "";
	height: 18px;
	width: 18px;
	background-color: black;
	border-radius: 50%;
	border: 4px white solid;
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translate(-50%, 50%);
	z-index: 2;
}

@media (max-width: 768px) {
	aside .logo::after,
	aside .logo::before {
		display: none;
	}
}

aside .links li {
	padding: 10px;
	margin-bottom: 10px;
	font-size: 0.9rem;
	border-radius: 5px;
	transition: var(--transition-delay) ease background-color;
}

aside .links li:hover {
	background-color: #f1f1f1;
}

aside .links li.active {
	background-color: #f1f1f1;
}

aside .links li i {
	width: 20px;
	margin-right: 5px;
	text-align: center;
}

aside .links li span {
	padding-right: 70px;
}

@media (max-width: 768px) {
	aside .links li span {
		display: none;
	}
}
/*End Aside*/

/*Start Header*/
header {
	width: calc(100% - 249px);
	position: absolute;
	right: 0px;
	top: 0px;
}

@media (max-width: 768px) {
	header {
		width: calc(100% - 53px);
	}
}

header .search-box {
	border: 1px #ddd solid;
	padding: 5px;
}

header .search-box input {
	font-size: 0.9rem;
	font-weight: lighter;
	width: 120px;
	transition: var(--transition-delay) ease all;
}

header .search-box input:focus {
	width: 160px;
}

header .profile > span::after {
	content: "";
	width: 8px;
	height: 8px;
	background-color: var(--red-color);
	border-radius: 50%;
	position: absolute;
	top: 0px;
	right: 0px;
}

header .profile > img {
	max-height: 35px;
	width: auto;
}
/*End Header*/

/*Start Wrapper*/
section.main {
	width: calc(100% - 249px);
	position: absolute;
	right: 0px;
	top: 68px;
}

@media (max-width: 768px) {
	section.main {
		width: calc(100% - 61px);
	}
}

section.main h1.section-title::after {
	content: "";
	background-color: white;
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 3px;
	width: 70%;
	z-index: 1;
}

section.main h1.section-title::before {
	content: "";
	background-color: black;
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 3px;
	width: 30%;
	z-index: 2;
	transition: var(--transition-delay) ease all;
}

section.main h1.section-title:hover::before {
	width: 70%;
}

.main .wrapper > div {
	border-radius: 5px;
	overflow: hidden;
	background-color: white;
	padding: 20px;
}
/*End Wrapper*/

/*Start Dashboard*/
.main .wrapper .welcome {
	padding: 0px;
}

.main .wrapper .welcome .profile {
	min-height: 150px;
}

.main .wrapper .welcome .profile .avatar {
	border: 4px white solid;
	height: 60px;
	width: auto;
	bottom: -30px;
	left: 30px;
}

@media (max-width: 768px) {
	.main .wrapper .welcome .profile .avatar {
		left: 50%;
		transform: translateX(-50%);
	}
}

.main .wrapper .welcome .stats {
	border-top: 1px #eee solid;
	border-bottom: 1px #eee solid;
}

@media (max-width: 992px) {
	.main .wrapper .welcome .stats > div {
		width: 100%;
	}
}

.main .wrapper .welcome .stats h3 {
	margin-bottom: 5px;
	font-weight: 400;
}

.main .wrapper .welcome .stats span {
	color: var(--grey-color);
	font-size: 0.9rem;
}

.main .wrapper .welcome .button > a {
	display: inline-block;
	background-color: var(--blue-color);
	padding: 5px 10px;
	color: white;
	margin: 20px;
	border-radius: 3px;
	transition: var(--transition-delay) ease all;
}

.main .wrapper .welcome .button > a:hover {
	background-color: #0d69d5;
}

.main .wrapper .draft > form input[name="title"],
.main .wrapper .draft > form textarea {
	border-radius: 5px;
	padding: 10px;
	background-color: #ddd;
	font-size: 0.8rem;
}

.main .wrapper .draft > form textarea {
	min-height: 200px;
	resize: none;
}

.main .wrapper .draft > form input[name="save"] {
	align-self: flex-end;
	background-color: var(--blue-color);
	border-radius: 3px;
	padding: 5px 10px;
	transition: var(--transition-delay) ease all;
	cursor: pointer;
}

.main .wrapper .draft > form input[name="save"]:hover {
	background-color: #0d69d5;
}

.main .wrapper .yearly-targets .targets {
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	gap: 25px;
}

.main .wrapper .yearly-targets .targets > div {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 15px;
}

.main .wrapper .yearly-targets .targets > div i {
	position: relative;
	width: 70px;
	height: 70px;
}

.main .wrapper .yearly-targets .targets > div i::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main .wrapper .yearly-targets .targets > div h3 {
	font-size: 0.9rem;
	color: var(--grey-color);
	font-weight: 400;
}

.main .wrapper .yearly-targets .targets > div .stats {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
}

.main .wrapper .yearly-targets .targets > div .stats div {
	width: 100%;
	height: 5px;
	position: relative;
}

.main .wrapper .yearly-targets .targets > div .stats div::after {
	content: "";
	height: 5px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.main .wrapper .yearly-targets .targets > div:nth-child(1) .stats div::after {
	background-color: var(--blue-color);
	width: 80%;
}

.main .wrapper .yearly-targets .targets > div:nth-child(2) .stats div::after {
	background-color: var(--orange-color);
	width: 55%;
}

.main .wrapper .yearly-targets .targets > div:nth-child(3) .stats div::after {
	background-color: var(--green-color);
	width: 75%;
}

.main .wrapper .yearly-targets .targets > div .stats div span {
	position: absolute;
	transform: translate(-50%, -100%);
	top: -15px;
	border-radius: 5px;
	color: white;
	font-size: 0.9rem;
	padding: 4px;
	font-weight: 400;
}

.main .wrapper .yearly-targets .targets > div:nth-child(1) .stats div span {
	background-color: var(--blue-color);
	left: 80%;
}

.main .wrapper .yearly-targets .targets > div:nth-child(2) .stats div span {
	background-color: var(--orange-color);
	left: 55%;
}

.main .wrapper .yearly-targets .targets > div:nth-child(3) .stats div span {
	background-color: var(--green-color);
	left: 75%;
}

.tickets .stats .box {
	border: 1px #ddd solid;
	border-radius: 15px;
	padding: 20px;
	color: var(--grey-color);
	font-weight: 400;
	font-size: 0.9rem;
}

.wrapper .tasks .list .box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0px;
	border-bottom: 1px #ddd solid;
}

.wrapper .tasks .list .box:last-child {
	border-bottom: none;
}

.wrapper .tasks .list .completed {
	opacity: 0.3;
}

.wrapper .tasks .list .completed .task-title {
	text-decoration: line-through;
}

.wrapper .tasks .list .box .task-title span {
	color: var(--grey-color);
	font-weight: 400;
}

@media (max-width: 768px) {
	.wrapper .tasks .list .box .task-title span {
		font-size: 0.9rem;
	}
}

.wrapper .tasks .list .box i {
	transition: var(--transition-delay) ease all;
	cursor: pointer;
}

.wrapper .tasks .list .box i:hover {
	color: var(--red-color);
}

.wrapper .news .news-list .box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 25px 0px;
	border-bottom: 1px #ddd solid;
}

.wrapper .news .news-list .box:last-child {
	border-bottom: none;
}

.wrapper .news .news-list .box .info {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 15px;
}

@media (max-width: 768px) {
	.wrapper .news .news-list .box .info {
		width: 100%;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}

.wrapper .news .news-list .box .info > img {
	border-radius: 10px;
}

.wrapper .news .news-list .box .info span {
	font-weight: 400;
	color: var(--grey-color);
}

.wrapper .news .news-list .box > .day {
	background-color: #eee;
	font-size: 0.8rem;
	padding: 8px;
	font-weight: 400;
	border-radius: 5px;
}

@media (max-width: 768px) {
	.wrapper .news .news-list .box > .day {
		margin: 20px auto;
	}
}

.wrapper .latest-uploads .files .file {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 0px;
	border-bottom: 1px #ddd solid;
}

.wrapper .latest-uploads .files .file:last-child {
	border-bottom: none;
}

.wrapper .latest-uploads .files .file .info {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
}

.wrapper .latest-uploads .files .file .info .name-owner {
	font-size: 0.9rem;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
	font-weight: 400;
}

.wrapper .latest-uploads .files .file .info .name-owner span:nth-child(2) {
	color: var(--grey-color);
}

.wrapper .latest-uploads .files .file .size {
	background-color: #eee;
	font-size: 0.8rem;
	font-weight: 400;
	padding: 5px 8px;
	border-radius: 5px;
}

.wrapper .project-progress::before {
	content: url(../images/project.png);
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: auto;
    height: 60%;
    opacity: 0.2;
}

@media (max-width: 768px) {
	.wrapper .project-progress::before {
		display: none;
	}
}

.wrapper .project-progress .projects {
	position: relative;
}

.wrapper .project-progress .projects::after {
	content: "";
	width: 2px;
	height: calc(100% - 30px);
	position: absolute;
	top: 50%;
	left: 7.5px;
	transform: translateY(-50%);
	background-color: var(--blue-color);
}

.wrapper .project-progress .projects li {
	padding: 15px 0px;
	position: relative;
}

.wrapper .project-progress .projects li::after {
	content: "";
	height: 25px;
	width: 25px;
	background-color: white;
	border: var(--blue-color) solid 2px;
	border-radius: 50%;
	position: absolute;
	left: calc(-1.75rem + 7.5px);
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.wrapper .project-progress .projects li::before {
	content: "";
	height: 17px;
	width: 17px;
	background-color: var(--blue-color);
	border-radius: 50%;
	position: absolute;
	left: calc(-1.75rem + 7.5px);
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.wrapper .project-progress .projects li.none::before {
	display: none;
}

.wrapper .project-progress .projects li.fade-animation::before {
	animation: fade 1.5s linear infinite alternate;
}

@keyframes fade {
	0%, 100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

.wrapper .reminders ul li::after {
	content: "";
	height: calc(100% - 20px);
	width: 2px;
	background-color: black;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0px;
}

.wrapper .reminders ul li:nth-child(1)::after {
	background-color: var(--blue-color);
}

.wrapper .reminders ul li:nth-child(2)::after {
	background-color: var(--green-color);
}

.wrapper .reminders ul li:nth-child(3)::after {
	background-color: var(--orange-color);
}

.wrapper .reminders ul li:nth-child(4)::after {
	background-color: var(--red-color);
}

.wrapper .reminders ul li::before {
	content: "";
	width: 15px;
	height: 15px;
	position: absolute;
	left: calc(-15px - 1.75rem);
	top: 50%;
	transform: translate(100%, -50%);
	border-radius: 50%;
}

.wrapper .reminders ul li:nth-child(1)::before {
	background-color: var(--blue-color);
}

.wrapper .reminders ul li:nth-child(2)::before {
	background-color: var(--green-color);
}

.wrapper .reminders ul li:nth-child(3)::before {
	background-color: var(--orange-color);
}

.wrapper .reminders ul li:nth-child(4)::before {
	background-color: var(--red-color);
}

.wrapper .reminders ul li {
	padding: 10px 0px 10px 15px;
	position: relative;
}

.wrapper .reminders ul li span:first-child {
	font-weight: 500;
	font-size: 0.9rem;
}

.wrapper .reminders ul li span:last-child {
	color: var(--grey-color);
	font-size: 0.8rem;
}

.wrapper .latest-post .content {
	border-top: 1px #ddd solid;
	border-bottom: 1px #ddd solid;
}

.wrapper .social-media .social-links > div {
	height: 60px;
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
}

.wrapper .social-media .social-links > div i {
	height: 60px;
	width: 60px;
	position: relative;
	font-size: 1.8rem;
	color: white;
	transition: var(--transition-delay) ease all;
}

.wrapper .social-media .social-links > div i:hover {
	transform: rotate(5deg);
}

.wrapper .social-media .social-links > div i::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.wrapper .social-media .social-links > div .info {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

.wrapper .social-media .social-links > div .info span {
	font-weight: 400;
}

.wrapper .social-media .social-links > div .info a {
	padding: 5px 5px;
	color: white;
	font-weight: 400;
	border-radius: 5px;
	font-size: 0.8rem;
}

.wrapper > .projects {
	grid-column: span 2;
	overflow-x: scroll !important;
}

@media (max-width: 1024px) {
	.wrapper > .projects {
		grid-column: span 1;
	}
}

.wrapper > .projects table,
.wrapper > .projects table th,
.wrapper > .projects table td {
	border: 1px #ddd solid;
	border-collapse: collapse;
	padding: 20px 15px;
	font-weight: 400;
}

.wrapper > .projects table tr {
	transition: var(--transition-delay) all ease;
}

.wrapper > .projects table tr:hover {
	background-color: #eee;
}

.wrapper > .projects table tr td:nth-child(5) > img {
	border-radius: 50%;
	border: 2px solid white;
	margin-left: -10px;
}

.wrapper .projects table tr td:nth-child(5) > img:nth-child(1) {
	margin-left: 0px;
}

.wrapper > .projects table tr:nth-child(1) span {
	background-color: transparent;
	color: black;
} 

.wrapper > .projects table tr span {
	font-size: 0.9rem;
	color: white;
	border-radius: 5px;
	padding: 5px 10px;
}
/*End Dashboard*/

/*Start Settings*/
/*Start Site Control*/
.wrapper .site-control .content {
	display: flex;
	align-items: stretch;
	flex-direction: column;
	gap: 15px;
}

.wrapper .switch {
	background-color: var(--blue-color);
	border-radius: 15px;
	height: 30px;
	width: 70px;
	position: relative;
}

.wrapper .switch::after {
	content: "\f00c";
	color: var(--blue-color);
	font-family: "Font Awesome 6 Free";
	background-color: white;
	border-radius: 50%;
	display: block;
	height: 25px;
	width: 25px;
	position: absolute;
	right: 2px;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper .site-control .content textarea {
	resize: none;
	min-height: 150px;
	border: 1px #ddd solid;
	font-size: 0.9rem;
	font-weight: 400;
	padding: 10px;
}
/*End Site Control*/

/*Start General Info*/
.wrapper .general-info .content form {
	display: flex;
	align-items: stretch;
	flex-direction: column;
}

.wrapper .general-info .content form label {
	font-weight: 400;
	color: #666;
	font-size: 0.9rem;
	display: block;
	margin-bottom: 10px;
}

.wrapper .general-info .content form input {
	border: 1px #ddd solid;
	border-radius: 3px;
	font-size: 0.9rem;
	padding: 5px 10px;
	font-weight: 400;
	margin-bottom: 15px;
	width: auto;
}

.wrapper .general-info .content form input[name = "email"] {
	cursor: not-allowed;
	background-color: ghostwhite;
	color: var(--grey-color);
	flex: 1;
	margin-bottom: 0px;
}

.wrapper .general-info .content form .email-input a {
	color: var(--blue-color);
	font-weight: 400;
}
/*End General Info*/

/*Start Security Info*/
.security-info .content {
	display: flex;
	align-items: stretch;
	flex-direction: column;
	gap: 10px;
}

.security-info .content > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 0px;
	border-bottom: 1px #ddd solid; 
}

.security-info .content > div:last-child {
	border-bottom: none;
}

.security-info .content button {
	padding: 5px 10px;
	font-weight: 400;
	border-radius: 5px;
}

.security-info .content .password button {
	color: white;
	background-color: var(--blue-color);
}

.security-info .content .devices button {
	color: #000;
	background-color: #ddd;
}
/*End Security Info*/

/*Start Social Info*/
.social-info .content {
	display: flex;
	align-items: stretch;
	flex-direction: column;
	gap: 20px;
}

.social-info .content div {
	background-color: #eee;
	border: #ddd 1px solid;
	display: flex;
	align-items: center;
	border-radius: 5px;
}

.social-info .content div input {
	padding: 5px 10px;
	font-size: 0.9rem;
	font-weight: 400;
	order: 2;
	flex-grow: 1;
	background-color: #eee;
	color: #666;
}

.social-info .content div input:focus + i {
	color: #000;
}

.social-info .content div i {
	color: #666;
	width: 40px;
	height: 40px;
	padding: 10px;
	position: relative;
	border-right: 1px #ddd solid;
	transition: var(--transition-delay) all ease;
}

.social-info .content div i::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/*End Social Info*/

/*Start Widget Control*/
.widget-control .content form input {
	appearance: none;
}

.widget-control .content form label {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	cursor: pointer;
	position: relative;
}

.widget-control .content form label:hover::before {
	border: var(--blue-color) solid 2px;
}

.widget-control .content form label::before {
	content: "";
	display: inline-block;
	height: 20px;
	width: 20px;
	border: 2px var(--grey-color) solid;
	border-radius: 5px;
}

.widget-control .content form label::after {
	content: "\f00c";
	font-family: "Font Awesome 6 Free";
	font-size: 0.8rem;
	color: white;
	background-color: var(--blue-color);
	border: 2px transparent solid;
	border-radius: 5px;
	display: inline-block;
	height: 20px;
	width: 20px;
	position: absolute;
	left: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: scale(0) rotate(360deg);
	transition: var(--transition-delay) ease transform;
}

.widget-control .content form input:checked + label::after {
	transform: scale(1) rotate(0deg);
}
/*End Widget Control*/

/*Start Backup Manager*/
.backup-manager .content form input {
	appearance: none;
}

.backup-manager .content form label {
	display: flex;
	align-items: center;
	gap: 10px;
	position: relative;
	cursor: pointer;
}

.backup-manager .content form label::before {
	content: "";
	display: inline-block;
	height: 25px;
	width: 25px;
	border: 2px var(--grey-color) solid;
	border-radius: 50%;
}

.backup-manager .content form label::after {
	content: "";
	background-color: var(--blue-color);
	border: 3px white solid;
	outline: 2px var(--blue-color) solid;
	border-radius: 50%;
	height: 25px;
	width: 25px;
	position: absolute;
	left: 0px;
	top: 0px;
	transform: scale(0);
	transition: var(--transition-delay) ease transform;
}

.backup-manager .content > form input:checked + label:after {
	transform: scale(1);
}

.backup-manager .content .backup-plan input {
	appearance: none;
}

.backup-manager .content .backup-plan label {
	padding: 25px;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 15px;
	border: 1px #ddd solid;
	border-radius: 10px;
	cursor: pointer;
	transition: var(--transition-delay) ease all;
}

.backup-manager .content .backup-plan input:checked + label {
	color: var(--blue-color);
	border: 1px var(--blue-color) solid;
}
/*End Backup Manager*/

/*End Settings*/
